@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82 ;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);

    transform: translate(-50%,-50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/pattern.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}
div#formulario > h1{
    text-align: center;
    padding-bottom: 10px;
}
div#formulario > p{
    font-size: 0.8em;
}
div.campo{
    background-color: #5f2c82;
    border-radius: 8px;
    margin: 5px 0px;
    width: 100%;
    height: 40px;
    border: 1px solid #5f2c82;
}
div.campo > i {
    color: white;
    font-size: 2em;
    height: 40px;
    padding: 5px;
}
div.campo > input{
    border-radius: 8px;
    background-color: rgb(183, 149, 221);
    height: 100%;
    font-size: 1em;
    border: 0px;
    width: calc(100% - 47px);
    transform: translateY(-11px);
}
div.campo > input:focus-within{
    background-color: white;
}
div.campo > label{
    font-size: 0.8em;
    display: none;
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: #fdd367;
    border: none;
    border-radius: 5px;
    color: #4e401b;
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: #fade96;
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    width: 100%;
    height: 50px;
    background-color: white;
    border: 1px #fdd367 solid;
    border-radius: 5px;
    color: #4e401b;
    padding-top: 10px;
    margin-top: 5px;
}
form > a.botao:hover{
    background-color: #fdd367;
}
form > a.botao > i {
    font-size: 0.8em;
}